*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
}

    /* navbar section  */
#titlenav{
    font-size: 14px;
    font-weight: bold;
    color: #cf343d;
    margin-left: 125px;
}
#searchnav{
    font-size: 10px;
    margin-left: 10px;
    color: grey;
}
#maglogo{
    font-size: 13px;
    padding-left: 163px;
    font-weight:  bold;
}
.searchnavbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ededed;
    width: 230px;
    height: 25px;
    margin-left: 320px;
    margin-right: 335px;
}
#login{
    font-size: 12px;
    color: #266aee;
}
#logintext{
    font-size: 8px;
    color: #111111;
    text-shadow: 10px black;
    margin-top: 3px;
}
.userlogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.navbarbox{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-bottom: 25px;
}
#navline{
    height: 2px;
    color: #cf343d;
    background-color: #cf343d;
}

    /* welcome section  */
#titlewelcome{
    font-weight: bold;
    font-size: 25px;
}
#subtitlewelcome{
    margin-top: 12px;
    font-size: 11px;
    color: rgb(0, 0, 0);
}
#textwelcomebox{
    width: 500px;
    height: 100px;
}
#buttonwelcome{
    margin-top: 11px;
    font-weight: lighter;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    font-size: 10px;
    background-color: #cf343d;
}
#imgwelcome{
    width: 434.7px;
    height: 295.2px;
    margin-left: 25px;
}
.textbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
}
.welcomebox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin-left: 20px;
}

    /* featured section  */
#featitle{
    font-size: 22px;
    font-weight: bold;
}
#fealine{
    width: 85px;
    height: 3px;
    background-color: #cf343d;
    border-radius: 20px;
}
.feabox{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 50px;
}
#greyline{
    width: 210px;
    height: 6px;
    background-color: #ededed;
    margin-bottom: 35px;
    border: 1px solid white;
}
#greyimg{
    width: 210px;
    height: 210px;
    background-color: #ededed;
}
#greytext{
    font-size: 12px;
    margin-top: -2px;
}
#starreview{
    color: #cf343d;
    font-size: 12px;
    margin-right: 2px;
}
#starreviewety{
    color: #cf343d;
    font-size: 12px;
    margin-right: 2px;
}
.starbox{
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}
#price{
    font-size: 12px;
    margin-top: 2px;
}
.feaflexbox1{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.boxspacing{
    margin-left: 30px;
    margin-right: 30px;
}
.feaflexbox2{
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 50px;
}
.boxspacing2{
    margin-left: 170px;
    margin-right: 170px;
}

/* New arrival */
.feabox2{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 55px;
    margin-top: 75px;
}
#greyimg2{
    width: 210px;
    height: 122px;
    background-color: #ededed;
}
.feaflexbox3{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.boxspacing3{
    margin-left: 80px;
    margin-right: 80px;
}

    /* Mi-band ads  */
#titlemi{
    font-weight: bold;
    font-size: 34px;
}
#subtitlemi{
    margin-top: 12px;
    font-size: 11px;
    width: 300px;
}
#subtitlemi2{
    margin-bottom: 11px;
    font-size: 11px;
}
#textwelcomeboxmi{
    width: 500px;
    height: 100px;
}
#buttonwelcome2{
    margin-top: 37px;
    font-weight: lighter;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 37px;
    font-size: 10px;
    background-color: #cf343d;
}
#imgmi{
    width: 270px;
    height: 270px;
    margin-left: 25px;
}
.textbox2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
}
.welcomebox2{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* height: 40vh; */
    padding-left: 20px;
    padding-top: 5px;
    background-image: linear-gradient(to right, rgb(245, 245, 245) , #cf343d);
}

    /* review pages box  */
#starreviewrev{
    color: #cf343d;
    font-size: 12px;
}
.starboxrev{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 16px;
}
#quoterev{
    font-size: 35px;
    color: #cf343d;
    margin-bottom: 10px;
}
#subtitlerev{
    font-size: 12px;
}
#imgrev{
    width: 70px;
    height: 70px;
    border: 2px solid black;
    border-radius: 50%;
}
#titlerev{
    margin-top: 15px;
    font-size: 17px;
    font-weight: bold;
}
.reviewpagebox{
    /* border: 1px solid black; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    height: 284px;
    width: 284px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
    margin-left: 10px;
}
.reviewflexpage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 55px;
    margin-bottom: 50px;
}

    /* partners */
.feabox3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;
    margin-top: 60px;
}
#imgpartner{
    width: 135px;
    height: 75px;
    margin-left: 45px;
    margin-right: 45px;
}
.partnerbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 170px;
}

    /* footer */
#boldft{
    font-weight: bold;
    font-size: 11px;
}
#normalft{
    font-size: 11px;
    margin-top: 5px;
}
.footer1{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
#titleft{
    color: #cf343d;
    font-size: 17px;
    font-weight: bold;
}
#subtitleft{
    font-size: 11px;
    margin-top: 24px;
    margin-bottom: 25px;
}
#logoft{
    font-size: 15px;
    margin-left: 20px;
    color: rgb(71, 71, 71);
}
.footer2{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.footerflexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}
.logobox{
    display: flex;
    flex-direction: row;
    margin-left: -20px;
}